<div class="container">
  <h2 class="text-center mb-4">Our Team Members</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
    <div class="col">
      <div class="card h-100">
        <img
          src="https://cdn.pixabay.com/photo/2015/01/12/10/45/man-597178_1280.jpg"
          class="card-img-top"
          alt="Team Member 1"
        />
        <div class="card-body">
          <h5 class="card-title">John Cena</h5>
          <p class="card-text">Application Developer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="https://media.istockphoto.com/id/1969629194/photo/charming-woman-working-at-home-office-desk.jpg?s=1024x1024&w=is&k=20&c=5TVpLAE0FyRkFzduu5Z-0jzwnu8ah49oK8wOpS9UfOE="
          class="card-img-top"
          alt="Team Member 2"
        />
        <div class="card-body">
          <h5 class="card-title">Amella Kerr</h5>
          <p class="card-text">Web Designer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="https://cdn.pixabay.com/photo/2023/12/29/10/37/ai-generated-8475950_1280.jpg"
          class="card-img-top"
          alt="Team Member 3"
        />
        <div class="card-body">
          <h5 class="card-title">Steve Smith</h5>
          <p class="card-text">Project Manager</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://cdn.pixabay.com/photo/2015/01/12/10/45/man-597178_1280.jpg"
          class="card-img-top"
          alt="Team Member 1"
        />
        <div class="card-body">
          <h5 class="card-title">John Cena</h5>
          <p class="card-text">Application Developer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="https://media.istockphoto.com/id/1969629194/photo/charming-woman-working-at-home-office-desk.jpg?s=1024x1024&w=is&k=20&c=5TVpLAE0FyRkFzduu5Z-0jzwnu8ah49oK8wOpS9UfOE="
          class="card-img-top"
          alt="Team Member 2"
        />
        <div class="card-body">
          <h5 class="card-title">Amella Kerr</h5>
          <p class="card-text">Web Designer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="https://cdn.pixabay.com/photo/2023/12/29/10/37/ai-generated-8475950_1280.jpg"
          class="card-img-top"
          alt="Team Member 3"
        />
        <div class="card-body">
          <h5 class="card-title">Steve Smith</h5>
          <p class="card-text">Project Manager</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://cdn.pixabay.com/photo/2015/01/12/10/45/man-597178_1280.jpg"
          class="card-img-top"
          alt="Team Member 1"
        />
        <div class="card-body">
          <h5 class="card-title">John Cena</h5>
          <p class="card-text">Application Developer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="https://media.istockphoto.com/id/1969629194/photo/charming-woman-working-at-home-office-desk.jpg?s=1024x1024&w=is&k=20&c=5TVpLAE0FyRkFzduu5Z-0jzwnu8ah49oK8wOpS9UfOE="
          class="card-img-top"
          alt="Team Member 2"
        />
        <div class="card-body">
          <h5 class="card-title">Amella Kerr</h5>
          <p class="card-text">Web Designer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="https://cdn.pixabay.com/photo/2023/12/29/10/37/ai-generated-8475950_1280.jpg"
          class="card-img-top"
          alt="Team Member 3"
        />
        <div class="card-body">
          <h5 class="card-title">Steve Smith</h5>
          <p class="card-text">Project Manager</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://cdn.pixabay.com/photo/2015/01/12/10/45/man-597178_1280.jpg"
          class="card-img-top"
          alt="Team Member 1"
        />
        <div class="card-body">
          <h5 class="card-title">John Cena</h5>
          <p class="card-text">Application Developer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="https://media.istockphoto.com/id/1969629194/photo/charming-woman-working-at-home-office-desk.jpg?s=1024x1024&w=is&k=20&c=5TVpLAE0FyRkFzduu5Z-0jzwnu8ah49oK8wOpS9UfOE="
          class="card-img-top"
          alt="Team Member 2"
        />
        <div class="card-body">
          <h5 class="card-title">Amella Kerr</h5>
          <p class="card-text">Web Designer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="https://cdn.pixabay.com/photo/2023/12/29/10/37/ai-generated-8475950_1280.jpg"
          class="card-img-top"
          alt="Team Member 3"
        />
        <div class="card-body">
          <h5 class="card-title">Steve Smith</h5>
          <p class="card-text">Project Manager</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://cdn.pixabay.com/photo/2015/01/12/10/45/man-597178_1280.jpg"
          class="card-img-top"
          alt="Team Member 1"
        />
        <div class="card-body">
          <h5 class="card-title">John Cena</h5>
          <p class="card-text">Application Developer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="https://media.istockphoto.com/id/1969629194/photo/charming-woman-working-at-home-office-desk.jpg?s=1024x1024&w=is&k=20&c=5TVpLAE0FyRkFzduu5Z-0jzwnu8ah49oK8wOpS9UfOE="
          class="card-img-top"
          alt="Team Member 2"
        />
        <div class="card-body">
          <h5 class="card-title">Amella Kerr</h5>
          <p class="card-text">Web Designer</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="https://cdn.pixabay.com/photo/2023/12/29/10/37/ai-generated-8475950_1280.jpg"
          class="card-img-top"
          alt="Team Member 3"
        />
        <div class="card-body">
          <h5 class="card-title">Steve Smith</h5>
          <p class="card-text">Project Manager</p>
        </div>
      </div>
    </div>
  </div>
</div>
