<div class="container-fluid">
  <div class="container home-page">
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <div class="firstheading">
            <p class="h1 fw-bold" style="color: rgb(245, 235, 235)">
              Discover the smartest way to manage respiratory condition
            </p>
            </div>
            <div class="secondheading">
              <p class="h5" style="color: rgb(245, 235, 235)">
                Most advanced technology to manage your lung conditions such as
                Asthma, COPD and associated conditions.
              </p>
            </div>
          <div class="buttons">
            <a href="http://localhost:4200/home-solution" class="btn bg-white">
              <span class="font-weight-bold pt-5">View our Solutions</span></a
            >
          </div>
          <div class="pt-3">
            <span>
              <a class="btn bg-white py-2">
                <span class="font-weight-bold m-2" (click)="openPopup1()"
                  >I am a Patient</span
                ></a
              >
              <a class="btn bg-white ms-2 py-2">
                <span class="font-weight-bold m-2" (click)="openPopup2()"
                  >I am a Provider</span
                ></a
              >
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img">
          <img src="assets/img/home-image.webp" alt="" class="rounded-4" />
        </div>
      </div>
    </div>
  </div>
</div>

<app-videopage></app-videopage>

<app-flexpage></app-flexpage>

<app-home-health></app-home-health>

<app-home-clinical></app-home-clinical>


<div class="container-fluid bg-body-secondary pt-5">
  <app-nav-home></app-nav-home>
</div>


<app-association></app-association>

<div class="pt-5"></div>

<app-feedback></app-feedback>

<app-award></app-award>