<div class="dropdown">
    <a
      class="nav-link dropdown-toggle"
      id="dropdownMenuButton"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Product
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li>
        <a class="dropdown-item" routerLink="/homepage" routerLinkActive="active"
          >AlveoAir Home</a
        >
      </li>
      <li>
        <a class="dropdown-item" routerLink="/alveoair-clinic" routerLinkActive="active"
          >AlveoAir Clinic</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/alveodotr"
          routerLinkActive="active"
          >AlveoAir dotr</a
        >
      </li>
      <li>
        <a class="dropdown-item" routerLink="/alveo-patient" routerLinkActive="active"
          >Alveofit Patient App</a
        >
      </li>
      <li>
        <a class="dropdown-item" routerLink="/alveo-provider" routerLinkActive="active"
          >AlveoMd provider</a
        >
      </li>
    </div>
  </div>
  