<div class="container-fluid">
  <div class="container" style="text-align: justify;">
    <div style="padding-top: 110px">
      <p class="h1 text-center">Privacy Policy</p>
    </div>
    <div class="px-5 mx-5">
      <p class="h4 text-center px-5 mx-5">
        Privacy and security is our top most priority. Please read and review
        our privacy policy applicable to alveofit® services and products.
      </p>
    </div>
    <div class="pt-5 mt-5">
      <p class="h6">
        Roundworks Technologies Private Limited. and its related companies
        (“We”, “Us”, “Company”, “alveofit®”) take your privacy seriously, and we
        want you to know how we collect, use, share, and protect your
        information. This Privacy Policy relates to the information collection
        and uses practices of alveofit® in connection with our Services, which
        are made available to you through a variety of platforms, including, but
        not limited to,<span><a href="http://localhost:4200/">https://alveo.fit</a></span>  and <span><a href="https://alveo.fit/shop/">https://alveo.fit/shop/</a></span> 
       (the “Sites”) and our alveofit® mobile app, which is accessible through,
        smartphones (the “App”) and operates in conjunction with paired
        Bluetooth-enabled alveoDot which is an MDI (metered dose inhaler sensor)
        and alveoair sensors (the “Spirometer”). The Sites, Apps, and devices
        are collectively referred to as the “ecosystem.”
      </p>
    </div>
    <div class="py-4">
      <p class="h1">Description of Users and Acceptance of Terms</p>
      <p class="h6">
        This Privacy Policy applies to visitors to the Sites, who view only
        publicly-available content (“Visitors”), individuals who have signed up
        to use our Services (“Users”), clinicians and health care providers who
        have signed up to use our Services (“Providers”) and caregivers of Users
        who are granted access to the Services through alveofit® (“Care team
        members”).
      </p>
      <p class="h6">
        PLEASE READ THIS POLICY CAREFULLY TO UNDERSTAND OUR POLICIES AND
        PRACTICES REGARDING YOUR INFORMATION AND HOW WE WILL TREAT IT. IF YOU DO
        NOT AGREE TO THE PRIVACY POLICY, INCLUDING ANY CHANGES THERETO, THEN YOU
        MUST NOT ACCESS AND USE THE SERVICES.
      </p>
      <p class="h6">
        To utilize the Services, you are required to submit certain information
        to establish an account. We collect certain information during the
        account registration process for identity verification purposes. We
        collect and utilize additional information as set forth below.
        Information We Collect From You
      </p>
    </div>
    <div>
      <p class="h1">Personal Information</p>
      <p class="h6">
        If you would like to use the App as a User, you may be required to
        purchase a subscription from one of our Sites and you will need to
        download the App from the Apple, Android app store through which the App
        is made available to you. You will also need to create an account on our
        eCommerce Site prior to purchasing your App subscription and a separate
        alveofit® premium account in order to download, set up, and use our App.
        During the subscription purchase, account registration, and App setup
        process, you will be asked to create a login ID and password and provide
        personal information about yourself, such as your first name, last name,
        e-mail address, postal address, height, weight, and date of birth and
        Uploading media is being used for profile picture. If you are purchasing
        a subscription to the App for your Child User, you or your child will be
        required to enter the same types of information for the intended User.
        If you use our eCommerce Site to purchase Devices and subscriptions to
        our App, you will also need to provide credit card or other payment
        account information, as well as a billing and shipping address and
        telephone number.
      </p>
    </div>
    <div>
      <p class="h1">Health Information</p>
      <p class="h6">
        When you sign up to use the App as a User, you will also be asked to
        provide us with background health information that relates to your past,
        present, or future physical or mental health or condition, including but
        not limited to, medications, medication schedule, medication usage
        history, and spirometry data. When you use the App paired with one or
        more alveoDot BLE enabled MDI sensors, the App will collect and log
        information regarding the dates and times when you use your inhaler and
        related medications as well as any information you log regarding your
        symptoms, lung function, environmental conditions, or other triggers for
        attacks. If you use our App with paired alveoAir spirometry to measure
        your lung function, the App will also collect and record spirometry data
        to help you monitor your lung function over time. This data will include
        measurements of peak flow, FEV1, FVC, and other clinical metrics. All of
        the foregoing information described in this paragraph is referred to
        collectively as “Health Information”). Your Health Information is ready
        to be shared with Providers and care team members by you.
      </p>
    </div>
    <div>
      <p class="h1">Geolocational Information</p>
      <p class="h6">
        In order to provide certain features and functionality of the App, we
        may, with your consent, automatically collect geolocational information
        from your mobile device, your wireless carrier, or certain third-party
        service providers (“Geolocational Information”). The collection of such
        Geolocational Information occurs only when the App is running on your
        mobile device. You may decline to allow us to collect such Geolocational
        Information, in which case alveofit® will not be able to provide certain
        features of the App to you.
      </p>
    </div>
    <div>
      <p class="h1">Other Information</p>
      <p class="h6">
        In addition to the information noted above, we may collect additional
        information (the “Other Information”). Such Other Information may
        include:
      </p>
    </div>
    <div>
      <p class="h1">(A) From Your Activity.</p>
      <p class="h6">
        Information that we automatically collect when you use the ecosystem,
        including, without limitation: IP addresses, browser type and language,
        referring and exit pages and URLs, date and time, amount of time spent
        on particular pages, what sections of the Platform you visit, etc.;
      </p>
      <p class="h6">
        Information about a mobile device, including universally unique ID
        (“UUID”), App type and version (e.g., iOS or Android), carrier and
        country location, hardware and processor information (storage, chip
        speed, camera resolution, NFC enabled, and network type (Wi-Fi, 2G, 3G,
        4G);
      </p>
      <p class="h6">
        Activity and usage information occurring via the Platform, including
        tagging data, favorites, preferences, session lengths; and similar data
      </p>
    </div>
    <div>
      <p class="h1">(B) Third-Party Analytics.</p>
      <p class="h6">
        We use third-party analytics services (such as Crashlytics Google
        Analytics and Google in-app messaging services) to evaluate your use of
        the Platform, compile reports on activity, collect demographic data,
        analyze performance metrics, and collect and evaluate other information
        relating to the Platform, and mobile and Internet usage. These third
        parties use cookies and other technologies to help analyze and provide
        us with the data. By accessing and using the Platform, you consent to
        the processing of data about you by these analytics providers in the
        manner and for the purposes set out in this Privacy Policy.
      </p>
      <p class="h6">
        For more information on our third-party analytics providers, including
        how to opt out from certain data collection, please visit the following
        links:
      </p>
      <p class="h6">
        For Google Analytics, please visit <span><a href="https://www.google.com/analytics">https://www.google.com/analytics.</a></span> 
        You may opt out of data collection and use Google Analytics by visiting
        <span><a href=" https://tools.google.com/dlpage/gaoptout/."> https://tools.google.com/dlpage/gaoptout/.</a></span>
      </p>
      <p class="h6">For Crashlytics, please visit: <span><a href="https://get.fabric.io">https://get.fabric.io</a></span> </p>
      <p class="h6">
        Please be advised that if you opt-out of any service, you may not be
        able to use the full functionality of the Platform.
      </p>
      <p class="h6">How We Use and Share the Information</p>
      <p class="h6">
        We use Personal Information, Geolocational Information, and Other
        Information (collectively, the “Information”) to process, confirm and
        fulfill orders for our Devices and App subscriptions; to enable Users to
        track their medication use and lung function over time, log their
        symptoms, triggers and environmental conditions and share related
        reports and information with authorized Providers and Caregivers; to
        facilitate communications among Users, alveofit®, Providers and care
        team members; to provide medication and other reminders, environmental
        alerts, and insights; to provide, analyze and improve our Platform and
        our Services; to solicit your feedback; and to inform you about our
        company, products and services and those of our third-party marketing
        partners. We may also use any information we collect for any other
        purpose disclosed at the time of collection or to which you consent.
      </p>
      <p class="h6">
        De-identified Information. We may analyze and otherwise use your
        Information in de-identified form and we may share this de-identified
        data with our affiliates, agents, and service providers. We may also
        disclose this de-identified data to current and prospective business
        partners and to other third parties for other lawful purposes.
      </p>
      <p class="h6">
        Business Transfers. As we develop our businesses, we might sell or buy
        businesses or assets. In the event of a corporate sale, merger,
        reorganization, sale of assets, dissolution, bankruptcy, or similar
        event, your information may be part of the transferred assets.
      </p>
      <p class="h6">
        Legal Requirements. To the extent permitted by law, we may also disclose
        your Information: (i) when required by law, court order, or other
        government or law enforcement authority or regulatory agency; or (ii)
        whenever we believe that disclosing such information is necessary or
        advisable, for example, to protect the rights, property, or safety of
        alveofit®, Roundworks Technologies Private Limited, or others.
      </p>
      <p class="h6">
        How We Keep Your Information Secure. We seek to safeguard the security
        of your Personal Information and have implemented reasonable security
        measures consistent with accepted practices in the healthcare industry
        to protect the confidentiality of your Personal Information and limit
        access to it. We have a designated Chief Security Officer and have put
        in place a variety of information security measures to protect your
        Personal Information, including encryption technology, such as Secure
        Sockets Layer (SSL), to protect your Personal Information during data
        transport and at rest. However, despite our efforts to protect your
        Personal Information, there is always some risk that an unauthorized
        third party may find a way around our security systems or that
        transmissions of your Personal Information over the Internet will be
        intercepted. Unfortunately, we cannot guarantee the absolute security of
        your Personal Information, nor can we guarantee that information that
        you provide will not be intercepted while being transmitted to us over
        the Internet. Therefore, we urge you to also take every precaution to
        protect your Personal Information when you are on the Internet or using
        the Services.
      </p>
    </div>
    <div>
      <p class="h1">Children’s Privacy</p>
      <p class="h6">
        We do not knowingly collect Personal Information from children under the
        age of 13 without parental consent. If you are under 13, please do not
        give us any Personal Information through the Sites or use any aspect of
        the ecosystem without your parents’ permission. We encourage parents and
        legal guardians to monitor their children’s Internet usage and to help
        enforce our Privacy Policy by instructing their children never to
        provide Personal Information through the Platform without their
        permission. If you have reason to believe that a child under the age of
        13 has provided Personal Information to us without parental consent,
        please contact us, and we will endeavor to delete that information from
        our databases.
      </p>
      <p class="h6">
        If you purchase one or more of our Devices and pair them with our App
        for your child’s use, you agree that we may collect from your child User
        all of the Personal Information, Health Information, Geolocational
        Information and Other Information described above and use and share all
        such information in accordance with this Privacy Policy. Without
        limiting the generality of the foregoing sentence, by purchasing a
        subscription to our App for use by your child, you agree that: (1)
        alveofit® may share your child’s Personal Information and Health
        Information with any Providers and Care team members that you or your
        child authorize to receive such information through our Services; (2)
        alveofit® may communicate directly with your child through the App and
        by using his or her Personal information, including to send emails
        regarding our company and our products and services as well as products
        and services offered by our third-party marketing partners.
      </p>
      <p class="h6">
        If you purchase one or more of our Devices and pair them with our App
        for your child’s use, you agree that we may collect from your child User
        all of the Personal Information, Health Information, Geolocational
        Information and Other Information described above and use and share all
        such information in accordance with this Privacy Policy. Without
        limiting the generality of the foregoing sentence, by purchasing a
        subscription to our App for use by your child, you agree that: (1)
        alveofit® may share your child’s Personal Information and Health
        Information with any Providers and Care team members that you or your
        child authorize to receive such information through our Services; (2)
        alveofit® may communicate directly with your child through the App and
        by using his or her Personal information, including to send emails
        regarding our company and our products and services as well as products
        and services offered by our third-party marketing partners.
      </p>
      <p class="h6">
        We will not require a child User to disclose more Personal Information
        or Health Information than is reasonably necessary to enable your child
        to participate in any activities offered through our Services. If you
        are designated as your child’s care team member as a parent through app
        add family member settings, you will be able to access and review much
        of the Personal Information and Health Information that we collect from
        your child through the Services via your Dashboard. You can also request
        to review all of your child’s Personal Information and Health
        Information and direct us to delete or refuse to allow any further
        collection, use or sharing of such information by contacting us at
        <span><a href="mailto:info@alveo.fit">info@alveo.fit</a></span> You can also use the same email address to direct us to
        disable the sharing of your child’s Personal and Health Information with
        particular Providers or Caregivers while continuing to agree to the
        collection and use of your child’s information to provide the Services
        to you and your child. We reserve the right to condition your access to
        and ability to manage your child’s information on the completion of
        steps reasonably calculated to verify your identity and relationship to
        the applicable child User.
      </p>
      <p class="h6">
        The operator of our alveofit® App is Roundworks Technologies Private
        Limited, Goodwill Nirmiti Co-Op Society, Loahgaon Pune, Maharashtra
        email address: <span><a href="mailto:info@alveo.fit">info@alveo.fit</a></span>
      </p>
      <p class="h6">
        Changes. We reserve the right to modify the terms of this Privacy Policy
        at any time and at our sole discretion, without notice. When the Privacy
        Policy is changed, modified, and/or amended, the revised Privacy Policy
        will be posted on our Services. Modifications will be effective
        immediately. You should visit this web page periodically to review the
        Privacy Policy. You accept any such modifications to this Privacy Policy
        by continued use of our Services after such modifications are made.
      </p>
      <p class="h6">
        Contact Us. If you would like to update your Personal Information,
        delete your account, change your preferences, or have any questions or
        concerns about your privacy, you may contact us at <span><a href="mailto:info@alveo.fit">info@alveo.fit</a></span>
        Please note that some information may remain in our records after the
        deletion of your account, including any information or records we are
        legally obligated to retain.
      </p>
    </div>
  </div>
</div>
