<div class="dropdown">
  <a
    class="nav-link dropdown-toggle"
   
    id="dropdownMenuButton"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Company Info
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li>
      <a class="dropdown-item" routerLink="/about" routerLinkActive="active"
        >About Us</a
      >
    </li>
    <li>
      <a
        class="dropdown-item"
        routerLink="/certificate"
        routerLinkActive="active"
        >Certificate</a
      >
    </li>
    <li>
      <a class="dropdown-item" routerLink="/feedback" routerLinkActive="active"
        >User feedback</a
      >
    </li>
    <li>
      <a class="dropdown-item" routerLink="/members" routerLinkActive="active"
        >Our Team</a
      >
    </li>
    <li>
      <a class="dropdown-item" routerLink="/ppolicy" routerLinkActive="active"
        >Privacy Policy</a
      >
    </li>
  </div>
</div>
