
.association-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .association-item {
    padding: 15px;
  }
  
  .association-item img {
    width: 150px;
    height: auto;
  }