<div class="container-fluid">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-6 py-3">
          <div class="content py-5 my-5">
            <p class="h1 fw-bold lh-base">alveofit® is known for lung health.</p>
            <p class="h6 mt-2 lh-lg">
                We have built your lung health assistant to manage your lung conditions such as Asthma, COPD and more, in most efficient manner. .
                       </p>
            <div class="pt-3">
                <span>
                    <a class="btn bg-white py-2" href="https://play.google.com/store/apps/details?id=com.fit.alveo&hl=en_IN&gl=US">
                        <span class="font-weight-bold m-2" >Download Alveofit App</span></a>
                        <p class="h6 pt-3">*It is free for everyone to use.</p>
                </span>
              </div>
          </div>
        </div>
        <div class="col-md-6 py-5 my-4">
          <img
            src="https://m.media-amazon.com/images/I/41wWj8WnkML._SL1280_.jpg"
            alt="Image"
            class="img-fluid rounded-4 py-3"
          />
        </div>
      </div>
    </div>
  </div>
  