<div class="container-fluid">
  <div class="container pt-5">
    <div class="col-md-12 bg-white rounded-2">
      <div class="row">
        <div class="col-md-6">
          <div class="mx-5">
            <div class="icon pt-5">
              <i
                class="far fa-user-circle mt-5"
                style="font-size: 60px; color: rgba(24, 27, 193, 0.66)"
              ></i>
            </div>
            <div>
              <p class="h2 pt-4" style="font-weight: 600; opacity: 0.8">
                Highly portable GOLD standard spirometer
              </p>
            </div>
            <div class="pt-5">
              <p class="h6">
                alveoair® is clinical trialed pocket size, GOLD standard
                spirometer for clinical practices and home care to measure most
                accurate lung function
              </p>
            </div>
            <div class="bg-info rounded-2">
                <i
                  class="fas fa-chess-queen my-3"
                  style="font-size: 20px; color: rgba(202, 222, 220, 0.66)"
                ></i>
                <a class="btn">
                  <p class="h5 font-weight-bold my-2">
                   Product request
                  </p></a
                >
                </div>
          </div>
        </div>
        <div class="col-md-6 pt-5">
            <div class="pt-5">
          <img
            src="assets/img/productend.webp"
            alt="Image"
            class="img-fluid"
            style="height: 380px"
          />
        </div>
        <div>
          <p class="h6 ps-5">Have a question or want more information?</p>
        </div>
        <div class="text-center">
          <a class="btn">
            <p class="h5 font-weight-bold my-2">
              start working with alveofit >
            </p></a
          >
        </div>
    </div>
      </div>
    </div>
  </div>
</div>
