<div class="container-fluid">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-6 py-3">
          <div class="content py-5 my-5">
            <p class="h1 fw-bold lh-base">Enable your your practice with alveoair® Clinical solutions.</p>
            <p class="h6 mt-2 lh-lg">
                We have build most advanced portable digital spirometer. Screening and monitoring with alveoair® spirometer is very easy now.
                        </p>
            <div class="pt-3">
                <span>
                    <a class="btn bg-danger py-2">
                        <span class="font-weight-bold m-2" >Subscribe now</span></a>
                    <a class="btn bg-white ms-2 py-2" href="http://localhost:4200/contact">
                        <span class="font-weight-bold m-2" >Contact us </span></a>
                </span>
              </div>
          </div>
        </div>
        <div class="col-md-6 py-5 my-5">
          <img
            src="https://th.bing.com/th/id/OIP.A6bF5fHTK8s_QLlkr4-8agHaE8?w=1200&h=800&rs=1&pid=ImgDetMain"
            alt="Image"
            class="img-fluid rounded-4 py-3"
          />
        </div>
      </div>
    </div>
  </div>
  