<div class="dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="/home-solution"
      id="dropdownMenuButton"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Solutions
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li>
        <a class="dropdown-item" routerLink="/home-health" routerLinkActive="active"
          >Home Health</a
        >
      </li>
      <li>
        <a class="dropdown-item" routerLink="/clinical" routerLinkActive="active"
          >Clinical Practice</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/tele"
          routerLinkActive="active"
          >Tele-spirometry</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/occupational"
          routerLinkActive="active"
          >Occupational Health</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/research"
          routerLinkActive="active"
          >Research</a
        >
      </li>
      <li>
        <a class="dropdown-item" routerLink="/insurance" routerLinkActive="active"
          >Insurance</a
        >
      </li>
      <li>
        <a class="dropdown-item" routerLink="/medicine" routerLinkActive="active"
          >Sports Medicine</a
        >
      </li>
    </div>
  </div>
  