<div class="container-fluid">
  <div class="container text-center py-5">
      <p class="h5 pt-3">Contact us today</p>
      <p class="h1 fw-bold pt-2">Do you have any queries?</p>
      <p class="h5 pt-3">
          Get in touch with us. We will be happy to resolve your queries.
      </p>
  </div>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-4">
              <div class="card p-4 rounded-2 text-center">
                  <img src="assets/img/phone.png" class="img" />
                  <p class="h5 pt-2 fw-bold">Call us today</p>
                  <p>+91 (876) 711 5748</p>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card p-4 rounded-2 text-center">
                  <img src="assets/img/email.png" class="img" />
                  <p class="h5 pt-2 fw-bold">Send an email</p>
                  <p>Info@alveo.fit</p>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card p-4 rounded-2 text-center">
                  <img src="assets/img/location.png" class="img" />
                  <p class="h5 pt-2 fw-bold">Visit our HQ</p>
                  <p>Pune, MH, India</p>
              </div>
          </div>
      </div>
  </div>
  <div class="container text-center p-5 bg-gray-1">
      <a href="http://localhost:4200/contact" class="btn shadow-sm text-heading-default btn-white d-inline-block pix-hover-item btn-sm">
          <span class="font-weight-bold">Partner with us</span>
      </a>
  </div>
</div>
