.container-fluid{
  height: 100vh;
  opacity: 0.8;
  background-color: rgb(239, 235, 235);
}
.card {
  text-align: center;
  height: 220px;
}

img {
  width: 80px; 
  height: auto;
  margin: 0 auto; 
}
