<div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="content py-5 my-5">
            <a href="https://play.google.com/store/apps/details?id=com.md.alveo&hl=en_IN" class="btn pt-5">
                <span class="text-primary">alveoair® Clinical</span>
              </a>
            <p class="h1 fw-bold lh-base">
                Transform your Respiratory practice with alveoair® Clinical.            </p>
            <p class="h6 mt-4 lh-lg">
                Digitize your respiratory practice with alveofit® ecosystem products and delivery most advance care            </p>
          
            
        </div>
        </div>
        <div class="col-md-6 pt-5 mt-5">
          <img src="https://th.bing.com/th/id/OIP.39TPOv3hzba3wMCto4058wHaE8?rs=1&pid=ImgDetMain" alt="Image" class="img-fluid pt-5" />
        </div>
      </div>
    </div>
  </div>
  