
.card {
    text-align: center;
    height: 200px;
    transition: transform 0.3s ease;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .div1:hover {
      background-color: rgb(98, 94, 183);
    }