<div class="container flexpage pt-5">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <a
          href="http://localhost:4200/home-solution"
          style="text-decoration: none"
        >
          <div class="card p-4 rounded-3 text-center div1">
            <i class="fas fa-laptop-medical pt-3" style="font-size: 48px"></i>
            <p class="pt-4">Home Health and Clinical</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <a href="http://localhost:4200/insurance" style="text-decoration: none">
          <div class="card p-4 rounded-3 text-center div1" style="height: 180px">
            <i class="far fa-file-alt pt-3" style="font-size: 48px"></i>
            <p class="pt-4">Insurance</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <a href="http://localhost:4200/research" style="text-decoration: none">
          <div class="card p-4 rounded-3 text-center div1" style="height: 180px">
            <i class="far fa-address-card pt-3" style="font-size: 48px"></i>
            <p class="pt-4">Research</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <a href="http://localhost:4200/medicine" style="text-decoration: none">
          <div class="card p-4 rounded-3 text-center div1" style="height: 180px">
            <i class="far fa-futbol pt-3" style="font-size: 48px"></i>
            <p class="pt-4">Sport Medicine</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <a href="http://localhost:4200/tele" style="text-decoration: none">
          <div class="card p-4 rounded-3 text-center div1" style="height: 180px">
            <i class="fas fa-play pt-3" style="font-size: 48px"></i>
            <p class="pt-4">Tele-spirometry</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <a
          href="http://localhost:4200/occupational"
          style="text-decoration: none"
        >
          <div class="card p-4 rounded-3 text-center div1" style="height: 180px">
            <i class="far fa-plus-square pt-3" style="font-size: 48px"></i>
            <p class="pt-4">Occupational Health</p>
          </div>
        </a>
      </div>
    </div>
  </div>